{% extends "App3D/padre.html" %}

{% load static %}


{% block titulo %}
<h2 class="fw-bolder mb-4 mt-5">Sobre nosotros</h2>
{% endblock %}

{% block imagenPrincipal %}
<figure class="mb-4"><img class="img-fluid rounded" src="{% static 'App3D/assets/bg-masthead.jpg' %}" alt="..." /></figure>
{% endblock %}



{% block titulo2 %}
<h4>Para loguearte aqui!</h4>
{% endblock %}

{% block contenido_que_cambia %}
<h2 class="text-white-75 mb-4">Log In</h2>
<form action="{% url 'login'  %}" method="POST"> {% csrf_token %}

    <table>
    
        {{ form.as_table }}
    
    </table>
    
    <input type="submit" value="INGRESAR">
    
    
    </form>

    {{ mensaje }}

    <hr class="divider divider-light" />
<p class="text-white-30 mb-4">No estas registrado? Registrate <a href="{% url 'register' %}"style="color: blue;">aqui</a></p> 

{% endblock %}


{% block parrafoInicio %}
    <p class="fs-5 mb-4">Este es un blog sobre impresión 3D, creado por entusiastas de la tecnología.
     Encontrarás información útil y actual, incluyendo reseñas de impresoras y consejos para hacer tus propios diseños.</p>
    <h2 class="fw-bolder mb-4 mt-5">Nuestro objetivo</h2>
    <p class="fs-5 mb-4">Nuestro objetivo es convertirnos en un recurso confiable y de confianza para todos los amantes de la impresión 3D, ya sean principiantes o profesionales. Creemos que la impresión 3D tiene el potencial de revolucionar la forma en que producimos y consumimos bienes, y esperamos contribuir a su creciente adopción a nivel mundial. Si eres un aficionado a la impresión 3D o simplemente estás interesado en conocer más sobre esta tecnología, ¡esperamos que encuentres nuestro blog útil y divertido de leer!</p>

{% endblock %}





{% block quiza %}
<div class="card bg-light">
<div class="card-body">
<!-- Comment form-->
<form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
<!-- Comment with nested comments-->
<div class="d-flex mb-4">
    <!-- Parent comment-->
    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
    <div class="ms-3">
        <div class="fw-bold">Commenter Name</div>
        If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
        <!-- Child comment 1-->
        <div class="d-flex mt-4">
            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
            <div class="ms-3">
                <div class="fw-bold">Commenter Name</div>
                And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
            </div>
        </div>
        <!-- Child comment 2-->
        <div class="d-flex mt-4">
            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
            <div class="ms-3">
                <div class="fw-bold">Commenter Name</div>
                When you put money directly to a problem, it makes a good headline.
            </div>
        </div>
    </div>
</div>
 <!-- Single comment-->
 <div class="d-flex">
    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
    <div class="ms-3">
        <div class="fw-bold">Commenter Name</div>
        When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
    </div>
</div>
</div>
{% endblock %}



{% block bloque1 %}
<div class="card mb-4">
    <div class="card-header">
        <br>
        <h4>Nuestras normativas</h4>

        
    </div>
    <div class="card-body">
        <div class="row">
            <p>A pesar de que apoyamos el código abierto y la libertad de información, necesitamos que te registres para poder seguir unas normas de convivencia en el sitio.<br><br> Al registrarte, también podrás acceder a nuestra lista de blogs y disfrutar de todo lo que tenemos para ofrecer. ¡Gracias por tu comprensión y esperamos verte pronto en nuestro sitio!<p>
        </div>
    </div>
</div>

{% endblock %}






{% block bloque2 %}
<div class="card mb-4">
    <div class="card-header">
        <h4>Novedades</h4>
    </div>
    <div class="card-body">
        <p>¿Cómo funciona una impresora 3D de hormigón?<p>
            <figure class="mb-4"><img class="img-fluid rounded" src="{% static 'App3D/assets/concreto.jpg' %}" alt="..." /></figure>
        </div>
</div>
{% endblock %}



{% block tema %}
<div class="text-muted fst-italic mb-2">Blog creado por Andrés Kim</div>
<a class="badge bg-secondary text-decoration-none link-light" href="#!">Impresión 3D</a>
<a class="badge bg-secondary text-decoration-none link-light" href="#!">Diseño y tecnología</a>
{% endblock %}